#{extends 'main.html' /}

<div data-role="content" class="content">
    <ul data-role="listview" data-split-icon="gear" data-inset="true">
        <li><a href="@{Users.sendRequest(user.id)}">
                <img src="${user.getAvatar()}" />
                <h3>${user}</h3>
                #{if location}<p>From <b>${location}</b></p>#{/if}
                #{if user.getDestination()}<p>To <b>${user.getDestination()}</b></p>#{/if}
                #{if user.preferredTime()}<p>In <b>${user.preferredTime()} minutes</b></p>#{/if}
                This user is ${distance}km away.
            </a>
            <a href="#">View in map</a>
        </li>
    </ul>
</div>