#{extends 'main.html' /}
#{set title:'CabsterApp' /}

<script type="text/javascript">
google.maps.Map.prototype.markers = new Array();

google.maps.Map.prototype.getMarkers = function() {
    return this.markers
};

google.maps.Map.prototype.clearMarkers = function() {
    for(var i=0; i<this.markers.length; i++){
        this.markers[i].setMap(null);
    }
    this.markers = new Array();
};

google.maps.Marker.prototype._setMap = google.maps.Marker.prototype.setMap;

google.maps.Marker.prototype.setMap = function(map) {
    if (map) {
        map.markers[map.markers.length] = this;
    }
    this._setMap(map);
}
</script>

<div data-role="content" class="content">
    <div id="map_canvas"></div>
</div>


<div data-role="footer" class="nav-glyphish-example">
    <div data-role="navbar" class="nav-glyphish-example">
        <ul>
                    	#{if connected == null}
            <li><a href="@{Application.login()}" id="calendar" data-rel="dialog" data-icon="custom">Login</a></li>
            #{/if}
            #{else}
            <li><a href="@{Application.shareACab()}" id="calendar" data-rel="dialog" data-icon="custom" >Share a cab</a></li>
            #{/else}
        </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->